<p style="color: green"></p>
<h1>GROUP SUMMARY</h1>
<h4 style="color:skyblue">Group Total : <%= @total_value %></h4>
<div id="tran_details">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Transection Details</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      <% @tran_details.each do |tran|%>
        <tr>
          <td scope="row"><%= 0 %></td>
          <td scope="row"><%= tran.itemDetails %></td>
          <td scope="row"><%= tran.amount %></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>
<%= link_to "Create Transaction", new_tran_group_tran_detail_path, class: "btn btn-outline-success" %>
<%= link_to "Back Index", tran_groups_path, class: "btn btn-outline-warning" %>
