<div id="<%= dom_id tran_group %>">
  <a style="text-decoration: none"href="<%= tran_group_tran_details_path(tran_group, @tran_group) %>">
    <div class="card mb-3" style="max-width: 940px;">
      <div class="row">
        <div class="col-md-2 d-flex justify-content-center align-items-center p-4">
          <%= raw tran_group.icon %>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center">
          <div class="card-body">
            <h3> <%= tran_group.groupName %></h3>
          </div>
        </div>
        <% @total_value = TranDetail.where(author_id: current_user, tran_group_id: tran_group.id).sum(:amount)%>
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <div class="card-body">
            <strong>Group Total: <%= @total_value %></strong>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
