<div id="<%= dom_id tran_group %>">
  <p>
    <strong>User:</strong>
    <%= tran_group.user_id %>
  </p>
  <p>
    <strong>Groupname:</strong>
    <%= tran_group.groupName %>
  </p>
  <p>
    <strong>Icon:</strong>
    <%= raw tran_group.icon %>
  </p>
  <p>
    <strong>Amount:</strong>
    <%= tran_group.amount %>
  </p>
</div>
